*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("/src/assets/download\ \(4\).jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 20px;
  --tooltip-color: green;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.avatar::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.avatar::before,
.avatar::after {
  --scale: 1;
}

.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.avatar-test {
  width: 50px;
  height: 50px;
  background-color: black;
}
.avatar-test::after {
  content: "";
  border: 20px solid transparent;
  border-top-color: red;
}
.container {
  margin-top: 200px;
  position: relative;
  /* width: 100px; */
  text-align: center;
}

.container::before {
  content: "";
  --var-scale: 0;
  border: 20px solid transparent;
  border-top-color: blue;
  transition: 150ms transform;
  transform-origin: top center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-20px) scale(var(--var-scale));
}

.container:hover:before,
.container:hover:after {
  --var-scale: 1;
}
.container::after {
  --var-scale: 0;

  content: "Tooltip";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-20px) scale(var(--var-scale));
  transition: 150ms transform;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  transform-origin: bottom center;
}
